# 这个文件定义了GitHub仓库的代码所有者
# 每次PR都会自动请求这些所有者进行审查
# 更多信息: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# 默认所有者
* @username

# 源代码
/src/ @username

# 测试
/test.js @username

# 配置文件
*.json @username
*.yml @username
*.yaml @username

# 文档
*.md @username
